<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	<context:property-placeholder location="classpath*:application-properties.xml"/> 
	
	<context:annotation-config /> 
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		p:driverClassName="${database.driverClassName}"
		p:url="${database.url}"
		p:username="${database.username}"
		p:password="${database.password}"
	/>
	<!-- 
	<bean id="userDao" class="com.rbwiki.dao.users.JdbcUserDao" 
		p:dataSource-ref="dataSource"
	/>
	 -->	
	<bean id="userDao" class="com.rbwiki.dao.users.MyBatisUserDao" 
		p:sqlSession-ref="sqlSession"
		p:dataSource-ref="dataSource"
	/>
	
	<bean id="sqlSessionFactory" class = "org.mybatis.spring.SqlSessionFactoryBean"
		p:dataSource-ref="dataSource"
		p:configLocation="classpath:mybatis-config.xml" />
	
	<bean id="sqlSession" class = "org.mybatis.spring.SqlSessionTemplate" >
 		<!--sqlSession을 생성할 때, setter를 통하지 않고(위에 있는 애들은 전부 setter로 했었어) contructor를 통해서 sqlSessionFactory를 참조한다는 뜻이야  -->
		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>
	
</beans>
